
<style>



    nav a{
        width: 100%;
    }
    mat-sidenav{
        width: 200px;
        text-align: center;
    }
    mat-toolbar p{
        font-size: 30px;
       margin-top: 11px;
       margin-left: 10px;
    }
    .example-spacer{
        flex: 1 1 auto;
    }
</style>

<mat-toolbar>
    <img src="https://vcfstudio.in/images/vcf.png" height="40px" style="border-radius:15px" alt="VCF">
    <p> <span style="color: #fa4800;">V</span><span style="color: #faa200;">C</span><span style="color: #fa4800;">F</span> </p>
    <span class="example-spacer"></span>
</mat-toolbar>
