<nav class="navbar navbar-expand-md bg-light navbar-light sticky-top" style="">
    <a class="navbar-brand" href="https://hackedserver.blogspot.com"><img src="https://vcfstudio.in/images/vcf.png" height="40px" style="border-radius:15px" alt="VCF"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" type="link" id="dropdownmenu" data-toggle="dropdown">Explore 
                <span class="caret"></span></a>
                <ul class="dropdown-menu" style="border:0px;" aria-lable-by="dropdownmenu">
                <li><a href="/members" class="dropdown-item">Members</a></li>
                  <hr style="margin:0px">
                  <li><a href="/explore" class="dropdown-item">Posts</a></li>
                  <hr style="margin:0px">
                  <li><a href="/projects" class="dropdown-item">Projects</a></li>
                  <hr style="margin:0px">
                  <li><a href="/artgallary" class="dropdown-item">Art Gallery</a></li>
                  <hr style="margin:0px">
                  <li><a href="/upload" class="dropdown-item">Upload A Project</a></li>
                  <hr style="margin:0px">
                  <li><p class="dropdown-item">More Comming Soon...</p></li>
                </ul>
              </div>
            </li> 
       <!-- <li class="nav-item">
          <a class="nav-link disabled"  href="/gyan">Knowledge (Disabled)</a>
        </li>  -->
        <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" type="link" id="dropdownmenu" data-toggle="dropdown">About 
                <span class="caret"></span></a>
                <ul class="dropdown-menu" style="border:0px;" aria-lable-by="dropdownmenu">
                  <li><a href="/about" class="dropdown-item">About Us</a></li>
                </ul>
              </div>
            </li> 
        <li class="nav-item">
        <a class="nav-link" href="/chat/">Chatting room</a>
      </li>    
        <li class="nav-item">
          <a class="nav-link" id="loginlink" href="/login">Login</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Vedik Cyber Forces</a>
        </li>   
        
      </ul>
    </div>  
  </nav>
