<div class="d-none d-md-block d-lg-block">
  <img id="logovcf" src="../../assets/img/vcf.png" alt="">
</div>



<div class="container-fluid">
  <div class="jumbotron bg-dark text-white">
    <div class="row">
        <br>

      <!-- <div class="d-xs-block d-sm-block d-md-none">
        <img id="logovcf2" src="../../assets/img/vcf.png" alt="">
      </div> -->
      <div class="col d-none d-md-block d-lg-block">
        <h1>VCF</h1>
        <p class="lead">Vedik Cyber Forces</p>
      </div>
      <div class="col-12 d-xs-block d-sm-block d-md-none d-lg-none">
        <h1 class="text-center">VCF</h1>
        <p class="lead text-center">Vedik Cyber Forces</p>
        <div class="text-center">
          <h2><b>यदभावि न तदभावी भावि चेन्न तदन्यथा ॥</b></h2>
          <a href="#team" id="teamlink">Team</a>
        </div>
      </div>
      
      <!-- <div class="col d-flex justify-content-center d-none d-sm-block d-xs-block d-md-none d-lg-none d-xl-none">
                <h1>VCF</h1><br>
                <p class="lead">Vedik Cyber Forces</p>
            </div> -->

      <div class="d-none d-xs-none d-sm-none d-md-block d-lg-block">
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <h2><b>यदभावि न तदभावी भावि चेन्न तदन्यथा ॥</b></h2>

          </div>
          <div class="col-12 d-flex justify-content-end">
            <a href="#team" id="teamlink">Team</a>
            <style>
              #teamlink {
                background-color: rgb(255, 115, 60);
                text-decoration: none;
                color: white;
                padding: 10px 30px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
                transition: 1s;
                border-top-left-radius: 20px;
                border-bottom-right-radius: 20px;
              }

              #teamlink:hover {

                filter:brightness();
                transition: 1s;
              }

              #teamlink:active {

                filter:grayscale();
                transition: 1s;
              }

            </style>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid d-xs-block d-sm-block d-md-none" style="padding-left: 20px; padding-right: 20px;">
    <div class="row">
      <div class="col-6" id="col1">

      </div>
      <div class="col-6" id="col2">

      </div>
    </div>
    <div class="row">
      <div class="col-6" id="col1">

      </div>
      <div class="col-6" id="col2">

      </div>
    </div>
    <div class="row">
      <div class="col-6" id="col1">

      </div>
      <div class="col-6" id="col2">

      </div>
    </div>
  </div>
  <div class="container-fluid d-none d-xs-none d-sm-none d-md-block" style="padding-left: 20px; padding-right: 20px;">
    <div class="row">
      <div class="col-6" id="col1">

      </div>
      <div class="col-6" id="col2">

      </div>
    </div>
    <div class="row">
      <div class="col-6" id="col1">

      </div>
      <div class="col-6" id="col2">

      </div>
    </div>
    <div class="row">
      <div class="col-6" id="col1">

      </div>
      <div class="col-6" id="col2">

      </div>
    </div>
  </div>
  <hr>
  <section class="bg-light" id="team">
    <h1 class="text-center"><b>Team</b></h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/1.jpg?h=c434e0c7fcafcc377eb28d401bc929c5">
                    <h4>Himanshu Jangid</h4>
                    <p class="text-muted">Founder, Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                        <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/himanshu-jangid-5a334a196/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/2.jpg?h=8e9342204d10ea6634de08592333f8d7">
                    <h4>Ankit Choudhary</h4>
                    <p class="text-muted">Co-Founder, Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ankit-choudhary-342410175/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/3.jpg?h=ea6dfd472215c4f04980b45cace43204">
                    <h4>Diana Pertersen</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</section>
</div>


<p>{{theme}}</p>
<style>
  mat-form-field{
    width: 200px;
    margin: 30px;
  }
</style>
<mat-form-field>
  <input matInput [(ngModel)]="theme">
</mat-form-field>